ion-content {
    //--ion-background-color: #ffeac9;
}

.keep-personal-informations {
    margin-top: 15px;
    padding-left: 0px !important;

    ion-list-header {
        margin-bottom: 15px;
    }

    ion-label {
        font-size: medium;
        color: var(--ion-color-medium);
    }

    ion-input {
        font-size: medium;
    }
}

.keep-account-informations {
    margin-top: 15px;
    padding-left: 0px !important;

    ion-list-header {
        margin-bottom: 15px;
    }

    ion-label {
        font-size: medium;
        color: var(--ion-color-medium);
    }

    ion-input {
        font-size: medium;
    }
}


ion-item {
    padding-left: 0px !important;
    padding-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px !important;

    ion-icon {
        margin-right: 30px !important;
    }
}

.keep-image {
    ion-item {
        --min-height: 90px;
    
        ion-thumbnail {
            height: 80px;
            width: 80px;

            img {
                border-radius: 15px;
            }
        }
    }
}

.keep-save-button {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}