<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Customers List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar color="#ffeac9" class="search-toolbar">
    <ion-searchbar placeholder="Search User Family" [(ngModel)]="mySearch" [showCancelButton]="shouldShowCancel"
      (ionChange)="updateCustomers($event)" debounce="1000"></ion-searchbar>
  </ion-toolbar>

  <div class="not-loaded" *ngIf="!isLoaded">
    <p style="text-align: center;">
      <ion-spinner name="bubbles" style="font-size: xx-large;"></ion-spinner>
    </p>
  </div>

  <div class="loaded" *ngIf="isLoaded">
    <div class="keep-no-customer" *ngIf="allCustomers =='0 result'">
      <p>No Result</p>
    </div>

    <div class="keep-customers" *ngIf="allCustomers !='0 result'">
      <ion-list style="margin-top: 30px;">
        <ion-item-sliding *ngFor="let item of allCustomers">
          <ion-item lines="none" (click)="showCustomerTickets(item)">
            <ion-thumbnail slot="start">
              <img src="{{ userImageURL + item.ProfileImg }}" alt="">
            </ion-thumbnail>
            <ion-label>
              <h2 style="white-space: normal;">{{ item.Name }} {{ item.Family }}</h2>
              <p style="white-space: normal;">Username: {{ item.Username }}</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>


</ion-content>