@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


ion-content {
  //--ion-background-color: #ffeac9;
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
}

section {
  padding: 1.5rem 0;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* Hero css starts here */
.hero {
  width: 100%;
  height: 70vh;
  background: url("../../assets/hero.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.sub-headline {
  font-size: 5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: .4;
  letter-spacing: 2px;
}

.first-letter {
  text-transform: uppercase;
  font-size: 6rem;
}

.headline {
  color: #fff;
  font-size: 1rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5rem;
  margin-right: -.5rem;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  max-width: 8.4rem;
  height: .25rem;
  background-color: #fff;
  position: relative;
}

.line-right::before,
.line-left::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: .6rem solid transparent;
}

.line-right::before {
  border-right-color: #fff;
  right: 0;
}

.line-left::before {
  border-left-color: #fff;
  left: 0;
}

.airplane {
  font-size: 1.8rem;
  color: var(--secondary-font-color);
  margin: 0 1rem;
}

.headline-description h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}

.cta-btn {
  font-size: 1.1rem;
  background-color: #fff;
  padding: .9rem 1.8rem;
  color: var(--body-font-color);
  border-radius: .4rem;
  transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus{
  color: #fff;
  background-color: var(--secondary-font-color);
}

// in case app has no active events 
.has-no-active-events {
  text-align: center;
  padding-bottom: 50px;

  p {
    font-size: x-large;
  }

  .description {
    font-size: large;
  }
}

// keep active events
.keep-active-events-card {
  background-size: cover;
  

  .ion-no-padding {
    --background: transparent !important;

    .location {
      color: var(--secondary-font-color);
    }

    .limitedSeats {
      color: var(--ion-color-danger);
    }
  }

  .activeEventTitle {
    color: var(--secondary-font-color);
  }

  .summery {
    margin-top: 0px !important;
    padding-top: 0px;
    color: #000 !important;
  }

  .startDate {
    margin-top: 10px !important;
    color: var(--ion-color-success) !important;
  }

  .endDate {
    color: var(--ion-color-success) !important;
  }

  .keep-book-event-button {
    text-align: center;
    padding-top: 20px;

    ion-button {
      margin: 5px 50px;
      --border-radius: 40px;
    }
  }
}

h4 {
  font-family: 'Helvetica Neue', sans-serif;
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.keep-spinner {
  //border: 1px solid red;
  text-align: center;
}


/* Tasteful recipes */
.tasteful-recipes {
  background: url("../../assets/background-3.jpg") center no-repeat;
  background-size: cover;
}

.between {
  min-height: 40vh;
  display: flex;
  align-items: center;
}



// all events part
.all-events-block {
  margin-top: 10px;

  h4 {
    margin-left: 10px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .slidesAllEvents {
    padding: 5px;
  
    .cardAllEvents {
      //--ion-background-color: #ffeac9;
      --background: var(--ion-color-primary) !important;
      margin-left: 2px !important;
      margin-right: 2px !important;

      img {
        width: 100%;
        min-height: 17vh;
        max-height: 17vh;
      }
    }
  }
}


/* latest-news  */
.latest-news {
  background: url("../../assets/between.jpg") center no-repeat;
  background-size: cover;
}


// all news part
.all-news-block {
  margin: 15px !important;

  ion-grid {
    padding: 0px !important;
    margin: 0px !important;

    ion-row {
      padding: 0px !important;
      margin: 0px !important;

      ion-col {
        padding: 0px !important;
        margin: 0px !important;

        h4 {
          padding: 0px !important;
          margin: 0px !important;
        }

        h6 {
          color: var(--ion-color-primary);
          padding: 0px !important;
          margin: 0px !important;
          padding-top: 3px !important;
          position: absolute;
          right: 2px;
          border-bottom: 1px solid var(--ion-color-primary);
        }
      
        h6:hover {
          color: var(--ion-color-dark);
        }
      }
    }
  }

  .keep-news-title {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  ion-item-sliding {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
  }

  ion-item {
    --min-height: 100px;

    ion-thumbnail {
        height: 100px;
        width: 100px;

        img {
          border-radius: 15px;
        }
    }

    .news-summary {
      white-space: normal;
      color: #000;
    }

    .show-news-details {
      color: var(--ion-color-warning) !important;
    }

    .news-date {
      margin-top: 8px !important;
      font-size: small; 
      color: var(--ion-color-danger) !important;
    }
  }
}

.CountDown {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
}
