ion-content {
    //--ion-background-color: #ffeac9;
}

ion-card {
    --background: var(--ion-color-primary) !important;

    ion-card-title {
        color: var(--ion-color-dark);
    }
}

ion-item {
    --min-height: 100px;

    ion-thumbnail {
        height: 100px;
        width: 100px;

        img {
            border-radius: 15px;
        }
    }
}