<ion-content forceOverscroll="false">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon name="arrow-back" slot="start" style="padding-right: 0px; margin-right: 0px; font-size: 30px;">
        </ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <div>
    <ion-row class="keep-congratulations">
      <ion-col>
        <h1>Congratulations...</h1>
      </ion-col>
    </ion-row>
    <ion-row class="keep-paragraph">
      <ion-col>
        <p>You signed up successfully, and your Username is <em>{{ this.userInfo.Username }}</em>. Now you can login with your new account.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="text-align: center;">
          <ion-button class="login-button" (click)="goToLoginPage()">CLICK to LOGIN
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>